{
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-sort-imports"],
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "trailingComma": "es5",
  "sortingMethod": "alphabetical",
  "stripNewlines": true,
  "newlineBetweenTypes": false,
  "importTypeOrder": ["NPMPackages", "localImportsValue", "localImportsType"]
}
