.balloon{
    position: absolute;
    z-index: 9999;
    cursor: pointer;

    /* Make image not dragable and not selectable */
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.balloon img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}